version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: healthify_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: healthify
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - healthify_net

  backend:
    build:
      context: ./app/backend
      dockerfile: ../Dockerfile
    container_name: healthify_backend
    depends_on:
      - postgres
    env_file:
      - ../.env
    ports:
      - "5000:5000"
    networks:
      - healthify_net

  frontend:
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
    container_name: healthify_frontend
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - healthify_net

volumes:
  pgdata:

networks:
  healthify_net:
    driver: bridge